In [ ]:
import numpy as np 
import pandas as pd 
import sklearn
from sklearn.metrics import r2_score,accuracy_score,classification_report,f1_score,jaccard_similarity_score
from sklearn.model_selection import train_test_split
from sklearn import preprocessing 
from sklearn import svm

In [ ]:
!wget -O cell_samples.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cell_samples.csv

--2020-09-25 17:59:20--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cell_samples.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20675 (20K) [text/csv]
Saving to: ‘cell_samples.csv’

cell_samples.csv    100%[===================>]  20.19K  --.-KB/s    in 0.08s

2020-09-25 17:59:21 (238 KB/s) - ‘cell_samples.csv’ saved [20675/20675]

In [ ]:
df = pd.read_csv('cell_samples.csv')
df.head()
df['BareNuc'] =(df['BareNuc']!='n').astype(int)

In [ ]:
x = df[['Clump','UnifSize','UnifShape','MargAdh','SingEpiSize','BareNuc','BlandChrom','NormNucl','Mit']].values.astype(int)

In [ ]:
y = df[['Class']].astype(int)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state= 4)
y_train

     Class
159      4
225      2
324      2
13       2
644      2
..     ...
599      2
360      4
439      2
174      4
122      4

[559 rows x 1 columns]

In [ ]:
model = svm.SVC(kernel = 'rbf')

In [ ]:
model.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_hat_test= model.predict(x_test)

In [ ]:
f1_score(y_hat_test,y_test,average = 'weighted'),jaccard_similarity_score(y_hat_test,y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

(0.9573222547445945, 0.9571428571428572)